
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */
body{
    max-width: 1440px;
    margin: 20px auto ;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
.dispaly-flex{
    display: flex;
}

.btn-primary{
    min-width: 12.25rem;
    text-align: center;
    /* max-width: 197px;
    height: 50px; */
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 12px;
}
.bg-light{
    background-image: url('assets/bg.png');
}
main{
    max-width: 1440px;
    margin: 0 auto;
}


/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav-logo{
    align-items: center;
}
.nav-logo .text{
font-size: 2rem;
font-weight: 700;
margin-left: 11px;
}
.nav-links{
    gap: 32px;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
#logo-text1{
    color: orange;
}
#logo-text2{
    color: skyblue;
}
#logo-text3{
    color: #5D58EF;
}
#logo-text4{
    color: #05D4DF;
}

/* banner style */
.banner-container{
    align-items: center;
    gap: 50px;
}
.banner-title{
margin-bottom: 25px;
}
.banner-text1{
font-size: 3.5rem;
font-weight: 700;
color: orange;
}
.banner-text2{
    font-size: 3.5rem;
    font-weight: 700;
    color: black;
}
.banner-text3{
    font-size: 3.5rem;
    font-weight: 700;
    color: skyblue;
}
.banner-details{
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    margin-bottom: 25px;
}
.banner-btn{
    height: 50px;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 45px;
    border-radius: 12px;
}
.banner-image img{
width: 100%;
height: auto;
}

/* cuurioculam standard style */

.cuuri-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin: 80px 0;
}
.curriculam-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    
}
.cards-items{
    box-shadow: 0 0 5px 0.2px #000000;
    border-radius:19px ;
    background: linear-gradient(180deg #DEF5FF #FFFFFF);
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 80px;
    
}
.cards-items .card-image img{
width: 100%;
margin:20px 0;
}

.card-title{
    font-size: 1.53rem;
    font-weight: bold;
    color: #202020;
    margin-top: 33px ;
    margin-bottom: 34px;
}
.card-details{
    font-size: 0.97rem;
    font-weight: 500;
    color: #808080 ;
}

.card-btn{
    font-size: 0.97rem;
    font-weight: bold;
    color: #64C8FF;
    margin-top: 40px; 
    background-color: #FFFFFF;
    padding: 10px  20px;
    border: none;
    box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1);
}
.icons-container{
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.icons-1{
    width: 60px;
    height: 60px;
   background: orange;
   border-radius: 50%;
   position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.icons-1 i{
    font-size: 1.56rem;
    color: #FFFFFF;
}
.icons-2{
    width: 60px;
    height: 60px;
   background: orange;
   border-radius: 50%;
   position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.icons-2 i{
    font-size: 1.56rem;
    color: #FFFFFF;
}


/* responsive for small device */
@media screen and (max-width:576px){
    .navbar{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-text1, .banner-text2,
    .banner-text3{
        font-size: 2rem;
    }
    .banner-details{
        font-size: 1rem;
    }
    .curriculam-card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

}



/* .footer-1{
    background-color: #b4e0f7 ;
}


.footer-row{
    margin-bottom: 3.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 72.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 123px 227px 174px 141px;
}
.footer-row-container{
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}
.footer-column-logo{
    gap:2.13rem;
width: 38%;
flex-direction: column;

}
.footer-logo{
    height: 5rem;
    width: 18rem;
    object-fit: contain;
    justify-content:flex-start ;
}

.footer-column-about{
    height: 5rem;
    width: 16rem;
    gap: 1.25rem;
}
.aboutschool-title{
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 2rem ;
}
.footer-list .footer-link{
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
} */






