
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */
body{
    max-width: 1440px;
    margin: 20px auto ;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
.dispaly-flex{
    display: flex;
}

.btn-primary{
    min-width: 12.25rem;
    text-align: center;
    /* max-width: 197px;
    height: 50px; */
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 12px;
}
.bg-light{
    background-image: url('assets/bg.png');
}
main{
    max-width: 1440px;
    margin: 0 auto;
}


/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav-logo{
    align-items: center;
}
.nav-logo .text{
font-size: 2rem;
font-weight: 700;
margin-left: 11px;
}
.nav-links{
    gap: 32px;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
#logo-text1{
    color: orange;
}
#logo-text2{
    color: skyblue;
}
#logo-text3{
    color: #5D58EF;
}
#logo-text4{
    color: #05D4DF;
}
.menu-icon{
    display: none;
}
.menu-icon i{
    color: black;
    font-size: 30px;
}




/* banner style */
.banner-container{
    align-items: center;
    gap: 50px;
}
.banner-title{
margin-bottom: 25px;
}
.banner-text1{
font-size: 3.5rem;
font-weight: 700;
color: orange;
}
.banner-text2{
    font-size: 3.5rem;
    font-weight: 700;
    color: black;
}
.banner-text3{
    font-size: 3.5rem;
    font-weight: 700;
    color: skyblue;
}
.banner-details{
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    margin-bottom: 25px;
}
.banner-btn{
    height: 50px;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 45px;
    border-radius: 12px;
}
.banner-image img{
width: 100%;
height: auto;
}

/* cuurioculam standard style */

.cuuri-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin: 80px 0;
}
.curriculam-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    
}
.cards-items{
    box-shadow: 0 0 4px 0.5px #FFFFFF;
    border-radius:19px ;
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 80px;  
}
.card-item-10{
    border: 1px solid white;
    background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
}
.card-item-20{
    border: 1px solid white;
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
}
.card-item-30{
    border: 1px solid white;
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
}
.cards-items .card-image img{
width: 100%;
margin:20px 0;
}

.card-title{
    font-size: 1.53rem;
    font-weight: bold;
    color: #202020;
    margin-top: 33px ;
    margin-bottom: 34px;
}
.card-details{
    font-size: 0.97rem;
    font-weight: 500;
    color: #808080 ;
}

.card-btn{
    font-size: 0.96rem;
    font-weight: bold;
    margin-top: 40px; 
    background-color: #FFFFFF;
    padding: 10px  20px;
    border: none;
    box-shadow: 0 0.5px 0.5px 0 #FFFFFF;
}
.card-btn-10{
    color: #64C8FF;
}
.card-btn-20{
    color: #F0AA00;
}
.card-btn-30{
    color: #8700FF;
}
.icons-container{
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.icons-1{
    width: 60px;
    height: 60px;
   background: orange;
   border-radius: 50%;
   position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.icons-1 i{
    font-size: 1.56rem;
    color: #FFFFFF;
}
.icons-2{
    width: 60px;
    height: 60px;
   background: orange;
   border-radius: 50%;
   position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.icons-2 i{
    font-size: 1.56rem;
    color: #FFFFFF;
}



/* Stories section style */
#bg-our-stories {
    border: 1px solid #000000;
background: linear-gradient(to top, rgba(254, 163, 1, 1), rgba(255, 255, 255, 1));
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    /* padding: 20px; */
    text-align: center;
}
.container h1{
font-size: 2.8rem;
font-weight: bold;
color: #000000;
margin-top:60px;
}
.stories-grid{
margin: 80px auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
flex-wrap: wrap;
gap: 28px;
}
.story-card{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.story-card.large {
    grid-row: span 2;
}
.story-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.story-content {
    padding: 15px;
    text-align: left;
}
.story-content .story-deatils{
    margin-left: 38px;
}
.story-content p{
    margin-left: 38px;
}
.date { 
font-size: 0.97rem;
font-weight: 500;
    width: 175px;
    height: 48px;
    border-radius: 30px;
text-align: center;
padding-top: 13px;
position: relative;
margin-top: 0px;
top: -50px;
}
.blue{
    background: #05D4DF; 
}
.green{
    background-color:#95B226 ;
}
.story-card h2, h3 {
    margin: 10px 0;
    color: #333;
    padding-left: 38px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
h3{
    font-size: 1rem;
    font-weight: bold;
}
.view-all {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom:60px;

}





/* footer  style */
.footer {
    background-color: #77dafc;
    padding: 120px 0;
}

.footer-container {
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}
.footer-column p{
    color: #FFFFFF;
}

.footer-title {
    display: flex;
    align-items: center;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-title h4{
    color: #FFFFFF;
}

.footer-title span {
    margin-left: 5px;
    color: #FFFFFF;

}

.footer-icon {
    width: 60px;
    height: 70px;
    margin-right: 10px;
}

.footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #FFFFFF;
    margin-left: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin-left: 60px;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #ffffff;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-left: 45px;
}

.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    
}



/* responsive for small device */
@media screen and (max-width:576px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid orange;
        padding: 12px 16px;
        }
    .menu-icon{
        display: block;
    }
.navbar ul, h4, button{
    display: none;
}

/* banner section responsive */
    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-text1, .banner-text2,
    .banner-text3{
        font-size: 2rem;
    }
    .banner-details{
        font-size: 1rem;
    }
    .curriculam-card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /* Stories responsive */
    .stories-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .story-card.large {
        grid-row: span 1;
    }
    .story-content p{
        margin-left: 0px;
    }
    .date { 
    font-size: 0.47rem;
    font-weight: 500;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    padding-top: 13px;
    position: relative;
    top: -8px;
    }
    .story-card h2, h3 {
        padding-left: 0px;
    }


/* footer responsive */
    .footer-container{
        flex-direction: column;
        gap: 32px;
    }
    .footer-column h3{
        margin-left: 0;
    }
.footer-column ul{
    margin-left: 0px;
}
.social-icons{
    margin-left: 0px;
}

}
